
.specialists {
    &__container {
      display: flex;
    }
    &__vertical {
      width: 320px;
      flex-shrink: 0;
      margin-right: 36px;
      position: relative;
      display: none;
      @media screen and (min-width: 1000px) {
        display: block;
      }
    }
    &__full {
      flex-grow: 1;
      background: linear-gradient(359.03deg, #FFFFFF 0.88%, #ECECEC 99.23%);
      box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
      border-radius: 31px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 30px;
      @media screen and (min-width: 900px) {
        padding: 50px 50px 60px;
      }
    }
}
.small-specialist {
  padding-top: 25px;
  &__img {
    width: 138px;
    height: 138px;
    border-radius: 70px;
    border: 1px solid #21b021;
    display: block;
    margin: auto;
    object-fit: cover;
  }
  &__title {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: #022140;
    margin-top: 28px;
    margin-bottom: 16px;
  }
  &__position {
    color: #2D5F5D;
    text-align: center;
  }
  &--active {
    background: linear-gradient(180deg, #FFFFFF 0%, #EAEAEA 100%);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 51px 20px 45px;
  }
}
.big-specialist {
  font-size: 16px;
  font-weight: 500;
  line-height: 21.94px;
  color: #2d3439;
  @media screen and (min-width: 600px) {
    display: flex;
    font-size: 18px;
  }
  &__img {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    border: 1px solid #21b021;
    display: block;
    margin: auto;
    object-fit: cover;
    flex-shrink: 0;
    @media screen and (min-width: 600px){
      margin-right: 30px;
    }
    @media screen and (min-width: 700px){
      width: 352px;
      height: 352px;
      border-radius: 180px;
      align-self: flex-start;
      margin-top: 0;
    }
  }
  &__info {
    width: 100%;
    @media screen and (min-width: 900px) {
      padding-top: 38px;
      padding-left: 5px;
    }
  }
  &__name {
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    color: #2d3439;
    text-align: center;
    margin-top: 10px;
    @media screen and (min-width: 600px){
      font-size: 24px;
      line-height: 29.26px;
      text-align: left;
    }
    @media screen and (min-width: 900px){
      margin-bottom: 14px;
    }
  }
  &__position {
    margin-bottom: 20px;
    text-align: center;
    font-size: 16px;
    @media screen and (min-width: 600px){
      font-size: 18px;
      line-height: 25px;
      text-align: left;
    }
    @media screen and (min-width: 900px){
      margin-bottom: 49px;
    }
  }
  &__experience {
    margin-bottom: 16px;
  }
  &__education {
    margin-bottom: 10px;
    @media screen and (min-width: 900px){
      margin-bottom: 52px;
    }
  }
  &__desc {
    margin-bottom: 30px;
  }
  strong {
    margin-right: 5px;
  }
}
.slider-manage {
  display: flex;
  justify-content: space-between;
  @media screen and (min-width: 700px){
    margin-top: 30px;
  }
  @media screen and (min-width: 900px){
    margin-top: 63px;
  }
  &__arrow {
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    @media screen and (min-width: 500px){
      display: flex;
    }
    &--left {
    }
    &--right {
      transform: rotate(180deg);
    }
  }
  &__user {
    text-align: center;
    font-size: 13px;
    cursor: pointer;
    &--prev {
    }
    &--next {
    }
  }
  img {
  }
  .slider-manage__user-name {
    font-weight: bold;
    @media screen and (min-width: 1000px) {
      font-size: 18px;
    }
  }
  .slider-manage__user-position {
    @media screen and (min-width: 1000px) {
      font-size: 14px;
      padding-top: 9px;
    }
  }
}
.vertical-arrow {
  width: 12px;
  height: 12px;
  border: 3px solid black;
  border-bottom: none;
  border-left: none;
  position: absolute;
  left: calc(50% - 6px);
  cursor: pointer;
  &--top {
    top: -26px;
    transform: rotate(-45deg);
  }
}
.vertical-arrow {
  &--bottom {
    transform: rotate(135deg);
    bottom: -50px;
  }
} 