@import 'normalize.scss';
@import 'roboto.scss';
@import 'range.scss';
@import 'header-block.scss';
@import 'mobile-menu.scss';
@import 'menu-footer.scss';
@import 'main-slider.scss';
@import 'video.scss';
@import 'services.scss';
@import 'percent-form.scss';
@import 'service-price.scss';
@import 'advantages.scss';
@import 'specialists.scss';
@import 'stages.scss';
@import 'finished-works.scss';
@import 'reviews.scss';
@import 'articles.scss';
@import 'questions.scss';
@import 'footer.scss';

@import 'services-in-page.scss';

@import 'flex-title.scss';
@import 'service-works.scss';

@import 'price-page.scss';

@import 'about.scss';
@import 'how-we-work.scss';
@import 'call-master.scss';

@import 'works.scss';

@import 'blog.scss';
@import 'post.scss';

@import 'windows-calc.scss';
@import 'grids-calc.scss';

.send-message {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.76);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  p {
    background-color: #fff;
    width: 300px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

* {
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
}
.wrapper {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px; 
}
img {
    max-width: 100%;
}
h1,h2,h3,h4,h5,h6 {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0;
}
h2,h1 {
  font-size: 25px;
  @media screen and (min-width: 500px) {
    font-size: 36px;
  }
}
h3 {
  font-size: 20px;
  @media screen and (min-width: 500px) {
    font-size: 24px;
  }
}
.shadow-btn {
  background: #F4F4F4;
  box-shadow: inset -4px 0px 15px rgba(0, 0, 0, 0.16);
  border-radius: 6px;
  &:hover {
    box-shadow: inset 0px 0px 25px #2D5F5D;
  }
}
.global-read-more {
  text-align: center;
  a {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    color: #265077;
  }
}
.interval {
  @media screen and (max-width: 500px) {
    max-height: 30px !important;
  }
}
.not-main h1 {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
  font-size: 25px;
  @media screen and (min-width: 500px) {
    font-size: 36px;
  }
}

#breadcrumbs {
  margin: 0;
  margin-top: 48px;
  color: #2d3439;
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  span {
    span {
      a {
        color: inherit;
        text-decoration: none;
      }
      .breadcrumb_last {
      }
    }
  }
}
p {
  font-size: 15px;
  line-height: 20px;
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px; 
  @media screen and (min-width: 1100px) {
    font-size: 17px;
    line-height: 35px;
  }
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  &__item {
    width: 100%;
    max-width: 235px;
    height: 46px;
    background: #F4F4F4;
    box-shadow: inset -4px 0px 15px rgba(0, 0, 0, 0.16);
    border-radius: 6px;
    margin: 0 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    cursor: pointer;
    @media screen and (min-width: 450px) {
      font-size: 18px;
    }
    &.active {
      box-shadow: inset 0px 0px 25px #2D5F5D;
    }
  }
}

.f-show-more {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 48px;
  &__btn {
    width: 235px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F4F4F4;
    box-shadow: inset -4px 0px 15px rgba(0, 0, 0, 0.16);
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    color: #2d3439;
  }
}